tenancy_ocid          = "<tenancy_ocid>"
compartment_ocid      = "<compartment_ocid>"
user_ocid             = "<user_ocid>"
fingerprint           = "<fingerprint>"
private_key_path      = "~/.oci/oci_api_key.pem"
region                = "eu-frankfurt-1"
ocir_user_name        = "<user_name>"
ocir_user_password    = "<user_auth_token>"
adb_admin_password    = "<adb_admin_password>"
adb_app_user_password = "<adb_app_user_password>"
