tenancy_ocid = "<tenancy_ocid>"
region = "eu-frankfurt-1"
compartment_ocid = "<compartment_ocid>"
ocir_user_name = "<user_name>"
ocir_user_password = "<user_auth_token>"
adb_admin_password = "<adb_admin_password>"
adb_app_user_password = "<adb_app_user_password>"
