tenancy_ocid = "<tenancy_ocid>"
user_ocid = "<user_ocid>"
region = "eu-frankfurt-1"
compartment_ocid = "<compartment_ocid>"
fingerprint = "<fingerprint>"
private_key_path = "<private_key_path>"
ocir_user_name = "<user_name>"
ocir_user_password = "<user_auth_token>"
